{{extend 'layout.html'}}

{{block title}}
	<title>Cadastro Salas</title>
{{end}}

{{block css}}
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/cadSala.css')}}">
{{end}}

{{block jumbotron}}
{{end}}

{{block main}}
	<h1>Cadastro de Salas</h1>
	<form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
		<div class="form-group" id="salas_bloco__row">
			<label class="form-control-label col-sm-3" for="salas_bloco" id="salas_bloco__label">Bloco</label>
			<div class="col-sm-9">
				<select class="generic-widget form-control" id="salas_bloco" name="bloco" onchange="preencher()">
					<option value=""></option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
				</select>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group" id="salas_numero__row">
			<label class="form-control-label col-sm-3" for="salas_numero" id="salas_numero__label">Número</label>
			<div class="col-sm-9">
				<input class="integer form-control" id="salas_numero" name="numero" type="text" value="" onchange="preencher()"/>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group" id="salas_descricao__row">
			<label class="form-control-label col-sm-3" for="salas_descricao" id="salas_descricao__label">Descrição</label>
			<div class="col-sm-9">
				<input class="string form-control" id="salas_descricao" name="descricao" type="text" value=""/>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group" id="salas_codigo__row">
			<label class="readonly form-control-label col-sm-3" for="salas_codigo" id="salas_codigo__label">Código</label>
			<div class="col-sm-9">
				<div id="printcode"></div>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group" id="salas_topicoEntrada__row">
			<label class="readonly form-control-label col-sm-3" for="salas_topicoEntrada" id="salas_topicoEntrada__label">Tópico de Entrada</label>
			<div class="col-sm-9">
				<div id="topicoEntrada"></div>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group" id="salas_topicoSaida__row">
			<label class="readonly form-control-label col-sm-3" for="salas_topicoSaida" id="salas_topicoSaida__label">Tópico de Saída</label>
			<div class="col-sm-9">
				<div id="topicoSaida"></div>
				<span class="help-block"></span>
			</div>
		</div>
		<div class="form-group" id="salas_status__row">
			<div class="col-sm-offset-3 col-sm-9">
				<div class="checkbox">
					<label class="readonly" id="salas_status__label">
						<input checked="checked" class="boolean" disabled="disabled" id="salas_status" name="status" type="checkbox" value="on" /> Cadastro Ativo
					</label>
					<span class="help-block"></span>
				</div>
			</div>
		</div>
		<div class="form-group" id="submit_record__row">
			<div class="col-sm-9 col-sm-offset-3">
				<input class="btn btn-primary" type="submit" value="Submit" />
			</div>
		</div>
		<div style="display:none;">
			<input name="_formkey" type="hidden" value="b0b8c4dc-aa9b-4ee9-8643-99d94b15b883" />
			<input name="_formname" type="hidden" value="salas/create" />
		</div>
	</form>

{{end}}
{{block script}}
	<script type="text/javascript">
		function preencher(){
			var x = document.getElementById('salas_bloco').value;
			var y = document.getElementById('salas_numero').value;
  			document.getElementById("printcode").innerHTML = x + y;
  			document.getElementById("topicoEntrada").innerHTML = "topicoEntrada/"+x+y;
  			document.getElementById("topicoSaida").innerHTML = "topicoSaida/"+x+y;
		}
	</script>
{{end}}

<!--
  onkeyUp="document.getElementById('printcode').innerHTML = this.value"
-->