{{def menu_administrador():}}
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{=URL('default','home')}}">Controle de Acesso LSI</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{{=URL('cadastros','cadastrar_agendamento')}}">Agendamentos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{=URL('cadastros','associar_tag_master')}}">Associar Tag-Master</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{=URL('cadastros','associar_tag_usuario')}}">Associar Tag-Usuário</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{=URL('cadastros','cadastrar_sala')}}">Salas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{=URL('cadastros','cadastrar_usuario')}}">Usuários</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="{{=URL('relatorios','relatorio_de_pontualidade')}}">Relatório de Pontualidade e Frequência</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{=URL('relatorios','estatisticas_de_pontualidade')}}">Estatísticas de Pontualidade e Frequência</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registros</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="{{=URL('registros','registro_de_agendamentos')}}">Agendamentos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{=URL('registros','registro_de_salas')}}">Salas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{=URL('registros','registro_de_usuarios')}}">Usuários</a>
        </div>
      </li>
    </ul>
	<button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
  	<a class="navbar-brand" href="{{=URL('default/user','logout')}}">Logout</a>    
  </div>
</nav>
{{return}}


{{def menu_usuario():}}
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{=URL('default','home')}}">Controle de Acesso LSI</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Relatórios</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <a class="dropdown-item" href="{{=URL('relatorios','relatorio_de_pontualidade')}}">Relatório de Pontualidade e Frequência</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{=URL('relatorios','estatisticas_de_pontualidade')}}">Estatísticas de Pontualidade e Frequência</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registros</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" href="{{=URL('registros','registro_de_agendamentos')}}">Agendamentos</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	</button>
  	<a class="navbar-brand" href="{{=URL('default/user','logout')}}">Logout</a>      
  </div>
</nav>
{{return}}
