{{extend 'layoutapp.html'}}

{{block title}}
	<title>Cadastro Usuário</title>
{{end}}

{{block css}}
	
{{end}}

{{block jumbotron}}
{{end}}

{{block main}}
	<h1>Cadastro de Usuário</h1>

	{{if formUsuarios.errors:}}
	<div class="alert alert-danger" role="alert">
	  O formulário submetido contém o(s) seguinte(s) erro(s):
	  <ul>
	  {{for fieldname in formUsuarios.errors:}}
	    <li><b>{{=fieldname}}</b> error: {{=formUsuarios.errors[fieldname]}}</li>
	  {{pass}}
	  </ul>
	  {{formUsuarios.errors.clear()}}
	</div>
	{{pass}}
	
	{{=formUsuarios}}
{{end}}